{% extends 'layout/base.html' %}
{% load static %}

{% block title %} Add New Book {% endblock title %}
{% block style %}
    <style>
        
    </style>
{% endblock style %}
{% block content %}
<div class="main-div profile mb-5 edit-profile w-100 d-flex justify-content-center flex-column align-items-center">
    <h3 class="w-100 text-light text-center mb-5" style="font-size: 2.2em;">Add New Book</h3>
    <div class="w-100 mb-3 d-flex justify-content-center align-items-center gap-3 flex-column">
        <form class="login-form w-100" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-4">
                <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
                {% endfor %}
            </div>
            
            {% endfor %}
            <div class="actions">
                <a class="btn btn-danger" href="{% url 'books' %}">cancel</a>
                <input type="submit" class="edit-btn1 btn btn-primary" value="Add" />
            </div>
        </form>
    </div>
</div>
<script>
    const form = document.querySelector('.login-form');
    for(let i=1; i < [...form].length-1; i++){
        form.children[i].children[1].classList.add('form-control');
    }
</script>
{% endblock content %}