{% extends 'layout/base.html' %}
{% load static %}

{% block title %} Profile | Success Change {% endblock title %}
{% block style %}
    <style>
        
    </style>
{% endblock style %}
{% block content %}
<div class="w-100 d-flex justify-content-center">
    <div class="alert alert-success w-100" role="alert">
        Your password change successfully..! <a href="{% url 'logout' %}" class="alert-link">Logout</a>. to try or go to home <a href="{% url 'main' %}" class="alert-link">Home Page</a>.
    </div>
</div>
{% endblock content %}